
.carousel-inner {
  height: 30vh; /* Set a specific height to limit the carousel's height */
  border-radius: 100%;
}

.carousel-item {
  display: flex;
  justify-content: center; /* Horizontally center the image */
  align-items: center;     /* Vertically center the image */
  height: 100%;
}

.carousel-item img {
  max-height: 100%;        /* Scale image to fit within the limited height */
  width: auto;             /* Maintain aspect ratio */
  object-fit: cover;       /* Crop image to fit container without distortion */
}
